*{font-family: Verdana;}

.header{
    background-image: url("fondo_cerveza.jpg");
    /* width: 90%; */
    max-width: 1000px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

.header img {
    width: 12%;
}


.contenedor-body {
    background-image: url("fondo_cerveza.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.div-body-1 {
    background-color: lightblue;
    opacity: 0.5;
    position: center;
    margin: 10px auto;

}

.div-body-1 p {
    font-size: 20px;
    text-align: center;
    margin: 10px auto;

}

.div-body-2 {
    background-color: lightcoral;
    opacity: 0.5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    margin: 10px auto;

}

.div-body-2 img {
    width: 30%
    
}

.div-body-3 {
    background-color: aquamarine;
    opacity: 0.5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    margin: 10px auto;

}

.iframes {
    width: 100%;
    box-sizing: border-box;
    height: auto;
    margin: 10px auto;

}

.footer{
    /*width: 90%;*/
    background-image: url("fondo_cerveza.jpg");
    max-width: 1000px;
    margin: 10px auto;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
