*{font-family: Verdana;}

.header{
    background-image: url("fondo_cerveza.jpg");
    /* width: 90%; */
    max-width: 1000px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    position: sticky;
    top: 0;
    z-index: 10;
}

.header img {
    width: 12%;
}

.contenedor-body {
    background-image: url("fondo_cerveza.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.body {
    background-color: #5a7cd8;
    background: #5a7cd8;
    color: #000;
    font-family: sans-serif;
}

.contenedor_reservas{
    /*width: 90%;*/
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(6,auto);
}
.reservas_tit{
    background: #12203f;
    color: #fff;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reservas_mail{
    background: #faa43d;
    color: #000; 
    font-size: 18px;
}
.reservas_mail a span {
    font-weight:bold;
}
.reservas_input{
    background: #5f89e3;
    color: #000;
    /*max-width: 1000px;*/
    /*margin: 10px auto;*/
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(6,auto);
    gap: 10px;
}
.caja1{
    grid-column: 1;
    grid-row: 1;
}
.caja2{
    grid-column: 1;
    grid-row: 2;
}
.caja3{
    grid-column: 1;
    grid-row: 3;
}
.caja4{
    grid-column: 1;
    grid-row: 4;
}
.caja5{
    grid-column: 1;
    grid-row: 5;
}
.caja5-5{
    grid-column: 1;
    grid-row: 6;
}
.caja6{
    grid-column: 2;
    grid-row: 1 / 5;
}
.caja7{
    grid-column: 1;
    grid-row: 7;
}
.caja8{
    grid-column: 2;
    grid-row: 7;    
}
input:focus {
    border: 1px solid yellow;
}



.footer{
    background-image: url("fondo_cerveza.jpg");
    /*width: 90%;*/
    max-width: 1000px;
    margin: 10px auto;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}