/* General */
:root {
    --colorprimary:#0C0C0F;
    --colorsecondary:white;
    --coloraccent: #F2613F;
    --colorsecondaryaccent: #481E14;
    --ff: "DM Sans";
    --h1: bold (max(54px,4vw) / max(48px,5vw))64px var(--ff);
    --h2: bold 36px/36px var(--ff);
    --h3: bold 24px/30px var(--ff);
    --p: 18px/30px var(--ff);
    --transition: 0.3s ease-in-out;
}

h1 {
    font: var(--h1);
}
h2 {
    font: var(--h2);
}
h3 {
    font: var(--h3);
}
p {
    font: var(--p);
}




.header{
    background-image: url("img/fondo_cerveza.jpg");
    /* width: 90%; */
    max-width: 1000px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

.header img {
    width: 12%;
}



.col {
    display:flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}

button img {
    width: 16px;
}

button {
    transition: transform 0.3s ease;
}


button:hover {
    transform: scale(1.1);
    background-color: var(--coloraccent);
    transition: var(--transition);
}

.background {
    background-image: url("img\fondo-cerveza.webp");
}
.body-bg {
        opacity: 0.8;
}

.body {
    background-color: var(--colorprimary);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--colorsecondary);
}

.div-body-1 {
    background-color: var(--coloraccent);
    position: center;
    margin: 10px auto;

}

.div-body-1 p {
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
}

.div-body-2 {
    background-color: var(--colorsecondaryaccent);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    margin: 10px auto;
}

.div-body-2 img {
    width: 30%
}

.div-body-3 {
    background-color: var(--coloraccent);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    margin: 10px auto;

}

.footer {
    /*width: 90%;*/
    background-image: url("img/fondo_cerveza.webp");
    max-width: 1000px;
    margin: 10px auto;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}


.hero-col {
    flex: 1;
    margin: 0 10px;
}

.hero-col-img img {
    width: 70%;
}

.iframes {
    width: 100%;
    box-sizing: border-box;
    height: auto;
    margin: 10px auto;
}

.section {
    margin: 0px auto;
    max-width: 1080px;
    height: 10vh;
    scroll-snap-align: start;
}

.section-hero {
    display:flex;
    justify-content: space-between;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons img {
    width: 20px;
}

svg {
    fill: var(--colorprimary);
    width: 20px;
}

svg:hover {
    fill: var(--coloraccent);
}