/* General, variables */
:root {
    --colorprimary:#feecaa;
    --colorsecondary:#0C0C0F;
    --coloraccent: #b6e2d3;
    --colorsecondaryaccent: #b6e2d3;
    --ff: "DM Sans";
    --h1: bold (max(54px,4vw) / max(48px,5vw))64px var(--ff);
    --h2: bold 36px/36px var(--ff);
    --h3: bold 24px/30px var(--ff);
    --p: 18px/30px var(--ff);
    --transition: 0.3s ease-in-out;
}

/* General, fuentes*/

h1 {
    font: var(--h1);
}
h2 {
    font: var(--h2);
}
h3 {
    font: var(--h3);
}
p {
    font: var(--p);
}


button img {
    width: 16px;
}

button {
    transition: transform 0.3s ease;
}


button:hover {
    transform: scale(1.1);
    background-color: var(--coloraccent);
    transition: var(--transition);
}



.body {
    background-color: var(--colorprimary);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--colorsecondary);
}

.div-body-1 {
    background-color: var(--coloraccent);
    position: center;
    margin: 10px auto;
    
}

.div-body-1 p {
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
}

.div-body-2 {
    background-color: var(--colorsecondaryaccent);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    margin: 10px auto;
}

.div-body-2 img {
    width: 30%
}

.div-body-3 {
    background-color: var(--coloraccent);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    margin: 10px auto;
    
}

.footer {
    /*width: 90%;*/
    background-image: url("img/fondo_cerveza.webp");
    max-width: 1000px;
    margin: 10px auto;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.header{
    /* background-image: url("img/fondo-cerveza.jpg"); */
    background-color: var(--colorsecondaryaccent);
    /* width: 90%; */
    max-width: 1000px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
}

.header img {
    width: 12%;
    min-width: 20%;
}

.header-logo {
    flex: 1;
    min-width: 20%;
}

.header-nav {
    flex: 1;
}

.hero-col {
    flex: 1;
    margin: 0 10px;
    text-align: right;
}

.hero-col-img {
    text-align: left;
    flex: 1;
}

.hero-col-img img {
    width: 50%;
}

.iframes {
    width: 100%;
    box-sizing: border-box;
    height: auto;
    margin: 10px auto;
}

/* Nav y header  */

header {
    background-color: #333; 
    padding: 10px; 
}

.nav {
    list-style-type: none; 
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0; 
}

.nav li {
    flex: 1;
    text-align: center; 
}

.nav a {
    color: #fff; 
    text-decoration: none;
    padding: 10px;
    display: block;
}

.nav a:hover {
    background-color: #555;
}

.section-hero {
    display:flex;
    justify-content: space-between;
}

.section {
    display:flex;
    justify-content: space-between;
}


.section-col {
    flex: 1;
    margin: 0 10px;
    text-align: right;
}

.section-col-img {
    text-align: left;
    flex: 1;
}

.section-col-img img {
    width: 50%;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons img {
    width: 20px;
}

svg {
    fill: var(--colorsecondary);
    width: 20px;
}

svg:hover {
    fill: var(--coloraccent);
}


@media (max-width: 768px) { 
    .header {
        flex-direction: column; /* Cambia la dirección a columna */
    }
    .header-logo {
        order: 1; /* Mueve el logo al primer lugar */
    }
    .header-nav {
        order: 2; /* Mueve la navegación al segundo lugar */
    }
    .hero-col {
        width: 100%; 
        text-align: center;
        margin-bottom: 20px;
    }
    .hero-col-img {
        text-align: center;
    }
    .nav {
        justify-content: center;
        flex-direction: row; 
        align-items: center; 
    }
    .nav li {
        margin-bottom: 10px; 
    }
    .section-hero {
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        text-align: center;
    }
}