.reservas{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
}



.contenedor_reservas{
    background-color: lightblue;
    padding: 20px;
    display: grid;
    /* grid-template-columns: 100px 100px 100px; */
    grid-template-columns: 100px 100px 100px 100px; */
    /* grid-template-columns: 50% 30% 10%; */
    /* grid-template-columns: auto auto auto; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: 3fr 2fr 1fr; /*3/6 2/6 1/6*/
    /* grid-template-columns: repeat(3, 1fr);
    /* column-gap: 10px; */
    /* row-gap: 30px; */
    /* gap: 20px; */
    /* grid-template-rows: 50px 150px 100px; */
    /* grid-template-rows: 2fr 1fr 3fr;
    /* height: 100vh; */
       
}

.caja1{
    background-color: lightgreen;
    padding: 10px;
    text-align: center;
    border: 1px dashed black;
}

.titulo2{
    background-color: transparent;
    font-family: Verdana;
}

h3 {
    background-color: rgb(146, 196, 168);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
.nosotros {
    margin-left: 20px;
    border: 2px rgb(192, 168, 62) solid;
    padding: 5px;
    background-color: rgb(153, 137, 224);
}

<style>
*{font-family: Verdana;}
.fondo{
    background-color: rgb(173, 216, 230);
    width: 800px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
    font-family: Verdana;
    font-size: 30px;
}
.fondo-imagen{
    background-image: url("FONDO CERVEZA.WEBP");
    width: 1280px;
    margin: 0 auto;
    padding: 50px;
}
.navegacion{
    background-color: rgba(255,255,255,75%);
    padding: 5px;
    text-align: center;
    font-size: 30px;
    font-family: Verdana;
}
</style>

.reserva input {
    margin-left: ;
}